<!-- <p>navbar works!</p> -->

<!-- here we used routerlink instead of href because -->
<mat-toolbar color="primary">
    <a routerLink ="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Pariksha</span>
    <span class="example-spacer"></span>
    <a *ngIf ="!isLoggedIn" routerLink ="./login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </a>
    <a *ngIf ="!isLoggedIn" routerLink ="./signup" mat-icon-button class="example-icon favorite-icon margin-right margin-left" aria-label="Example icon-button with share icon">
      Register
    </a>
    <a 
     *ngIf ="isLoggedIn && user "  mat-icon-button 
     routerLink="/admin/profile"
     class="example-icon favorite-icon margin-right margin-left" aria-label="Example icon-button with share icon">
      <!-- {{login.getUser().username}} -->
      {{login.getUser().username}}
      
    </a>

    <a 
    (click)="logout()" *ngIf ="isLoggedIn"  mat-icon-button class="example-icon favorite-icon margin-right margin-left" aria-label="Example icon-button with share icon">
      Logout
    </a>
  </mat-toolbar>
  
