<mat-card>
    <h1> Add new Quiz</h1>
<div class="conatiner">
    <div class="row">
        <div class="col-md-8 offset-md-2"> 

            <form (ngSubmit)="addQuiz()">

                <!-- title field -->
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Enter Title</mat-label>
                    <input 
                    [(ngModel)]="quizData.title"
                    type="text" name="title" placeholder="Enter Here" matInput />
                </mat-form-field>

                <!-- description field  -->
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Enter Description</mat-label>
                    <textarea 
                    [(ngModel)]="quizData.description"
                    type="text"
                    name="description" placeholder="Enter Here" matInput
                    rows="5">
                    </textarea> 
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Enter Maximum Marks</mat-label>
                            <input 
                            [(ngModel)]="quizData.maxMarks"
                            type="text" name="maxMarks" placeholder="Enter Here" matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Enter Number of Question</mat-label>
                            <input 
                            [(ngModel)]="quizData.numberOfQuestions"
                            type="text" name="numberOfQuestions" placeholder="Enter Here" matInput />
                        </mat-form-field>
                    </div>
                </div>
                
                <!-- active field -->
                <mat-slide-toggle 
                name="active"
                [(ngModel)]="quizData.active"
                class="example-margin" >
                    Publish
                </mat-slide-toggle>
                <br>

                <!-- category select  -->
                <mat-form-field appearance="fill" class="margin-top w100">
                    <mat-label>Select Category</mat-label>
                    <mat-select name="category" [(ngModel)]="quizData.category.id">
                        <mat-option *ngFor="let c of categories" [value]="c.id">
                            {{c.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="container text-center">
                    <button mat-raised-button color="accent" type="submit">Add</button>
                </div>

            </form>
        </div>
    </div>
</div>
</mat-card>
<!-- {{quizData | json}} -->
