<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1> Available Quizzes</h1>
        <div class="row" *ngIf = "quizzes">
            <div class="col-md-4 mt20" *ngFor="let q of quizzes">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <button mat-raised-button color="accent">View</button>
                    <button mat-raised-button color="primary" 
                    [routerLink]="'/user-dashboard/instructions/'+q.qid"
                    class="ml20">Start</button>

                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-content>
                        <h1>No Quiz in this category</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
